{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %}Seja Bem Vindo!!{% endblock title %}
</head>

<body>
{% block content %}
<div class="container text-center">
    <h1>Bem Vindo a EsquadriGlass Calc</h1>
    <p>O Software de Cálculo de Esquadrias de Alumínio e Vidros Temperados</p>
</div>


{% endblock content %}

	
</body>

</html>



