{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}Lista de Acessórios{% endblock title %}
</head>

<body>
{% block subtitle %}Acessórios{% endblock subtitle %}
{% block content %}
    <!-- CARD DE LISTA DE ALUMÍNIOS -->
    <div class="row">
        <div class="col-sm-12">
           	<div class="card">
           		<div class="card-body">
                    <div class="col-sm-3">
                        <a class="btn btn-primary" id="novo_acessorio" href="/cadastrar_acessorio">
                            <i class="fas fa-plus"></i> Novo Acessório
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="search" class="form-control mt-2" id="floatingInput" placeholder="Buscar Acessório">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descrição </th>
                                <th scope="col">Linha </th>
                                <th scope="col">Preço </th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        <center>
                            {% if messages %}
                                <ul class="alert alert-success">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </center>
                            {% for acessorio in lista_acessorios %}
                            <tr>
                                <td>{{ acessorio.codigo }}</td>
                                <td>{{ acessorio.descricao }}</td>
                                <td>{{ acessorio.linha }}</td>
                                <td>{{ aluminio.preco }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/editar_acessorio/{{ acessorio.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/excluir_acessorio/{{ acessorio.id }}">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
           		</div>
           	</div>
        </div>
    </div>
{% endblock content %}
</body>
</html>