{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}Lista de Vendedores{% endblock title %}
</head>

<body>
{% block subtitle %}Vendedores{% endblock subtitle %}
{% block content %}
    <!-- CARD DE LISTA DE VENDEDORES -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                    <div class="col col-sm-3">
                        <a class="btn btn-primary" id="novo_vendedor" href="{% url 'cadastrar_vendedor' %}">
                            <i class="fas fa-plus"></i> Novo Vendedor
                        </a>
                    </div>
                    <div class="col col-sm-3">
                        <input type="search" class="form-control mt-2" id="floatingInput" placeholder="Buscar Vendedor">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        <center>
                            {% if messages %}
                                <ul class="alert alert-success">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </center>
                            {% for vendedor in lista_vendedores %}
                            <tr>
                                <td>{{ vendedor.nome }}</td>
                                <td>{{ vendedor.telefone }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/editar_vendedor/{{ vendedor.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/excluir_vendedor/{{ vendedor.id }}">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
           	</div>
        </div>
    </div>
{% endblock content %}
</body>
</html>