{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}Lista de Vidros{% endblock title %}
</head>

<body>
{% block subtitle %}Vidros{% endblock subtitle %}
{% block content %}
    <!-- CARD DE LISTA DE ALUMÍNIOS -->
   	<div class="card">
        <div class="card-body">
            <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-primary" id="novo_vidro" href="{% url 'cadastrar_vidro' %}">
                            <i class="fas fa-plus"></i> Novo Vidro
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="search" class="form-control mt-2" id="floatingInput" placeholder="Buscar Vidro">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        <center>
                            {% if messages %}
                                <ul class="alert alert-success">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </center>
                            {% for vidro in lista_vidros %}
                            <tr>
                                <td>{{ vidro.codigo }}</td>
                                <td>{{ vidro.descricao }}</td>
                                <td>{{ vidro.preco }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/editar_vidro/{{ vidro.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/excluir_vidro/{{ vidro.id }}">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
           	</div>
        </div>
    </div>
{% endblock content %}
</body>
</html>