{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}Lista de Linha de Produtos{% endblock title %}
</head>

<body>
{% block subtitle %}Linha de Produtos{% endblock subtitle %}
{% block content %}
    <!-- CARD DE LISTA DE PRODUTOS -->
    <div class="row">
        <div class="col-sm-12">
           	<div class="card">
           		<div class="card-body">
                    <div class="col-sm-3">
                        <a class="btn btn-primary" id="nova_linha_produto" href="/cadastrar_linha_produto">
                            <i class="fas fa-plus"></i> Nova Linha de Produto
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="search" class="form-control mt-2" id="floatingInput" placeholder="Buscar linha de Produto">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descrição </th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        <center>
                            {% if messages %}
                                <ul class="alert alert-success">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </center>
                            {% for linha in lista_linha_produtos %}
                            <tr>
                                <td>{{ linha.codigo }}</td>
                                <td>{{ linha.descricao }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/editar_linha_produto/{{ linha.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/excluir_linha_produto/{{ linha.id }}">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
           		</div>
           	</div>
        </div>
    </div>
{% endblock content %}
</body>
</html>