{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}Lista de Alumínios{% endblock title %}
</head>

<body>
{% block subtitle %}Alumínios{% endblock subtitle %}
{% block content %}
    <!-- CARD DE LISTA DE ALUMÍNIOS -->
    <div class="card">
    	<div class="card-body">
            <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-primary" id="novo_aluminio" href="{% url 'cadastrar_aluminio' %}">
                            <i class="fas fa-plus"></i> Novo Alumínio
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="search" class="form-control mt-2" id="floatingInput" placeholder="Buscar Alumínio">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descrição </th>
                                <th scope="col">Peso </th>
                                <th scope="col">Linha </th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        <center>
                            {% if messages %}
                                <ul class="alert alert-success">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </center>
                            {% for aluminio in lista_aluminios %}
                            <tr>
                                <td>{{ aluminio.codigo }}</td>
                                <td>{{ aluminio.descricao }}</td>
                                <td>{{ aluminio.peso }}</td>
                                <td>{{ aluminio.linha }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/editar_aluminio/{{ aluminio.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/excluir_aluminio/{{ aluminio.id }}">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

           	</div>
        </div>
    </div>
{% endblock content %}
</body>
</html>