{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %}Novo Orçamento{% endblock title %}
</head>

<body>
{% block subtitle %}Novo Orçamento{% endblock subtitle %}

{% block content %}
	<!-- CARD DE CADASTRO DE CLIENTE -->
    <div class="row">
        <div class="col-sm-12">
           	<div class="card">
           		<div class="card-body">
           			<form method="post">
           				{% csrf_token %}
						{{ form_cliente|crispy }}
							<div class="mt-2">

								<label for="floatingInput">
									Vendedor:
									<select class="form-select" aria-label="Vendedor">
										<option selected>Selecione...</option>
										{% for vendedor in vendedores %}
											<option value="{ vendedor.id }">{{vendedor.nome}}</option>
										{% endfor %}
									</select>
								</label>
           					</div>
							
  						<div>
							<button type="submit" class="btn btn-primary btn-sm mt-3">Salvar</button>
						</div>
					</form>
           		</div>
           	</div>
        </div>
	</div>

    <!-- CARD DE BUSCA -->
	<div class="card mt-3">
	    <div class="card-body">
			<form method="post">
	       	<div class="row"> 
				<div class="col">	
					<label>
						<select class="form-select" aria-label="Materia Prima">
							<option selected>Tipo de Produto...</option>
							<option value="1">Esquadria de Alumínio</option>
							<option value="2">Vidro Temperado</option>
						</select>
					</label>
				</div>

				<div class="col">
					<label>
						<select class="form-select" aria-label="Cor do Aluminio">
							<option selected>Cor do Aluminio...</option>
							<option value="1">Pintado Branco</option>
							<option value="2">Pintado Preto</option>
							<option value="3">Anodizado Bronze 1002</option>
							<option value="4">Anodizado Fosco</option>
						</select>
					</label>
				</div>

				<div class="col">
					{% csrf_token %}
					<input type="buscar" name="search" class="form-control" id="floatingInput" placeholder="Buscar">
				</div>

				<div class="col">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>

			</div>
			</form>	

			<div class="card-body">	
				<table class="table mt-3">
					<thead>
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Descrição</th>
							<th scope="col">Linha</th>
							<th scope="col">Cor</th>
							<th scope="col">Opções</th>
						</tr>
					</thead>
					<tbody>
						{% for produto in lista_produtos %}
							<tr>
								<td><a href="{% url 'editar_produto' produto.id %}">{{ produto.codigo }}</a></td>
								<td>{{ produto.descricao }}</td>
								<td>{{ produto.linha.codigo }}</td>
								<td>definir cor</td>
								<td>
									<a class="btn btn-primary btn-sm" href="{% url 'incluir_item_orcamento' produto.id %}">Incluir</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>

{% endblock content %}
</body>

</html>